@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-bold';
    src: url('../font/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-extrabold';
    src: url('../font/Urbanist-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'berkshireswash-regular';
    src: url('../font/BerkshireSwash-Regular.ttf') format('truetype');
}

:root {
    --primary-color: 136, 184, 0;
    --blur-primary-color: 247, 255, 225;
    --info-color: 0, 96, 184;
    --warning-color: 255, 182, 0;
    --danger-color: 192, 50, 33;
    --dark-color: 33, 33, 33;
    --light-color: 255, 255, 255;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --urbanist-semibold: 'urbanist-semibold', Arial, Helvetica, sans-serif;
    --urbanist-bold: 'urbanist-bold', Arial, Helvetica, sans-serif;
    --urbanist-extrabold: 'urbanist-extrabold', Arial, Helvetica, sans-serif;
    --berkshireswash-regular: 'berkshireswash-regular', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--urbanist-medium);
    color: rgba(var(--dark-color), 1);
    transition: 250ms !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: rgba(var(--dark-color), 1);
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

/* GENERAL */
.form-label {
    font-size: 0.913rem;
    margin-bottom: 5px;
    color: rgba(var(--dark-color), 0.62) !important;
}

.form-check-label {
    font-size: 0.913rem;
    margin-bottom: 0;
    color: rgba(var(--dark-color), 1) !important;
}

.btn-primary {
    background-color: rgba(var(--primary-color), 1);
    border: 1px solid rgba(var(--primary-color), 1);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgba(var(--primary-color), 1) !important;
    filter: contrast(120%);
    border: 1px solid rgba(var(--primary-color), 1) !important;
}

.form-text {
    margin: 6px 0 12px 0 !important;
    font-size: 0.813rem;
}

.button-small-default {
    padding: 8px 12px;
    background-color: rgba(var(--primary-color), 0.12);
    border: 1px solid rgba(var(--primary-color), 0.24);
    gap: 6px;
    border-radius: 3px;
}

.button-small-default span {
    font-size: 0.875rem;
    color: rgba(var(--primary-color), 1);
}

.button-small-default:hover {
    border: 1px solid rgba(var(--primary-color), 0.42);
}

canvas {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    transition: 0 !important;
    opacity: 1;
}

canvas.hide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -9999;
    opacity: 0;
}

.input-search {
    display: inline-block;
    width: 240px;
    padding: 12px;
    background-color: rgba(var(--dark-color), 0.03);
    border: 1px solid rgba(var(--dark-color), 0.12);
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
    outline: none;
    border-radius: 4px;
}

.input-search:hover {
    border-color: rgba(var(--dark-color), 0.24);
}

.button-primary,
.button-primary-reverse,
.button-dark {
    width: fit-content;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(var(--primary-color), 1);
    font-size: 0.875rem;
    color: rgba(var(--light-color), 1);
    display: inline-block;
    outline: none;
    stroke: none;
    border: none;
}

.button-primary-reverse {
    color: rgba(var(--primary-color), 1);
    border: 1px solid rgba(var(--primary-color), 0.24);
    background-color: rgba(var(--primary-color), 0.12);
}

.button-primary-reverse:hover {
    background-color: rgba(var(--primary-color), 0.16);
}

.button-dark {
    background-color: rgba(var(--dark-color), 1);
}

.button-approved,
.button-detail,
.button-edit,
.button-delete {
    width: 32px;
    height: 32px;
    background-color: rgba(var(--danger-color), 0.16);
    border-radius: 3px;
    outline: none;
    border: none;
}

.button-delete:hover {
    background-color: rgba(var(--danger-color), 0.24);
}

.button-approved {
    background-color: rgba(var(--primary-color), 0.16);
}

.button-approved:hover {
    background-color: rgba(var(--primary-color), 0.24);
}

.button-detail {
    background-color: rgba(var(--info-color), 0.16);
}

.button-detail:hover {
    background-color: rgba(var(--info-color), 0.24);
}

.button-edit {
    background-color: rgba(var(--warning-color), 0.16);
}

.button-edit:hover {
    background-color: rgba(var(--warning-color), 0.24);
}

.button-primary:hover {
    filter: contrast(110%);
}

table {
    border-radius: 6px !important;
    overflow: hidden;
}

table > * {
    font-size: 0.913rem;
    font-family: var(--urbanist-medium) !important;
}

table td {
    padding: 12px !important;
}

.wrapper-table {
    overflow-x: auto;
}

.form-label {
    font-size: 0.875rem !important;
}

.modal-header,
.modal-footer {
    border: none !important;
}

.modal-body p {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62);
}

.data-hide {
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
    z-index: -9999;
}

.card-body-title {
    font-size: 1.125rem;
    font-family: var(--urbanist-semibold);
}

.card-body-text {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
}

.badge-primary {
    all: unset;
    color: rgba(var(--light-color), 1);
    background-color: rgba(var(--primary-color), 1);
    font-size: 0.813rem;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: text !important;
}

.card-reward {
    cursor: pointer;
}

.card-body-reward {
    margin-top: -20px;
    background-color: rgba(var(--light-color), 1);
}

.link-badge {
    all: unset;
    padding: 6px 14px;
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62);
    border-bottom: 1px solid rgba(var(--dark-color), 0.12);
}

.link-badge.active,
.link-badge:hover {
    color: rgba(var(--primary-color), 1);
    border-color: rgba(var(--primary-color), 1);
}

.card-body-subtitle {
    font-size: 1rem;
    font-family: var(--urbanist-semibold);
}

.card-body-caption {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
}

.col-card-all,
.col-card-pending,
.col-card-finish {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    transition: opacity 0 !important;
}

.col-card-all.active,
.col-card-pending.active,
.col-card-finish.active {
    position: relative;
    z-index: 100;
    opacity: 1;
    transition: opacity 0 !important;
}

nav.navbar {
    background-color: rgba(var(--light-color), 1) !important;
    border-bottom: 1px solid    rgba(var(--dark-color), 0.12);
}

nav.navbar .nav-link {
    color: rgba(var(--dark-color), 0.62);
    font-size: 0.95rem;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

nav.navbar .nav-link:hover,
nav.navbar .nav-link.active {
    color: rgba(var(--primary-color), 1) !important;
}

section.about {
    background-image: url('../images/homepage/background-homepage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

section.about .title {
    font-size: 1.875rem;
    font-family: var(--berkshireswash-regular);
    color: rgba(var(--light-color), 1);
}

section.about .paragraph {
    color: rgba(var(--light-color), 1);
    font-size: 0.913rem;
}

.paragraph {
    color: rgba(var(--dark-color), 0.62);
    font-size: 0.913rem;
}

.paragraph-title {
    font-size: 1.125rem;
    font-family: var(--urbanist-semibold);
}

.paragraph-small {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
}

.link-redirect {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62);
}

.link-redirect:hover {
    color: rgba(var(--dark-color), 1);
}

.footer {
    padding-top: 80px;
    padding-bottom: 42px;
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.copyright {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
}

.title-product {
    font-size: 1.875rem;
    font-family: var(--urbanist-bold);
}

.frame-testimonial {
    width: 100%;
    height: 500px;
    border: 10px solid rgba(var(--primary-color), 1);
    border-radius: 8px;
}

@media (max-width: 1199.98px) {
    .frame-testimonial {
        height: 400px;
    }
}

@media (max-width: 991.98px) {
    .frame-testimonial {
        height: 340px;
    }
}

@media (max-width: 767.98px) {
    .frame-testimonial {
        height: 240px;
        border: 6px solid rgba(var(--primary-color), 1);
    }
}

.title-product {
    font-size: 2rem;
    font-family: var(--urbanist-bold);
}

.title-price {
    font-size: 1.125rem;
    /* font-family: var(--urbanist-semibold); */
    color: rgba(var(--light-color), 1);
    background-color: rgba(var(--primary-color), 1);
    padding: 6px 8px;
    border-radius: 4px;
    width: fit-content;
}

.text-mention {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
}
/* END GENERAL */

/* CONTENT AUTH */
.content-auth .card-auth {
    padding: 32px 132px;
}

.content-auth .content-login {
    overflow-x: hidden;
}

.content-auth .auth-title {
    font-size: 2.25rem;
    color: rgba(var(--dark-color), 1);
    margin-bottom: 6px;
    font-family: var(--urbanist-extrabold);
    line-height: 122%;
}

.content-auth .auth-caption {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62) !important;
    margin-bottom: 20px;
}

.content-auth .link-redirect {
    color: rgba(var(--dark-color), 1);
    font-size: 0.913rem;
    margin-bottom: 0;
    margin-top: 24px;
}

.content-auth .link-redirect a {
    color: rgba(var(--primary-color), 1);
}

.content-auth .link-redirect a:hover {
    text-decoration: underline;
}

.content-auth .wrapper-ktp {
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 6px;
    margin-top: 4px;
}

.content-auth .wrapper-ktp .content-other {
    font-size: 0.813rem;
    color: rgba(var(--dark-color), 0.62);
    margin: 0;
}
/* END CONTENT AUTH */

/* SIDEBAR */
.sidebar {
    min-height: 100vh;
    height: 100% !important;
    border-right: 1px solid rgba(var(--dark-color), 0.12);
    padding: 42px 24px;
}

.sidebar .sidebar-link {
    border-top: 1px solid rgba(var(--dark-color), 0.12);
    padding-top: 24px;
    margin-top: 24px;
}

.sidebar .link-item {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    padding: 12px 14px;
    border-radius: 4px;
    margin-top: 6px;
    border: none;
}

.sidebar .link-item:hover,
.sidebar .link-item.active {
    background-color: rgba(var(--primary-color), 0.12);
}

.sidebar .link-item img {
    width: 18px !important;
    height: 18px !important;
}

.sidebar .link-item span {
    font-size: 0.9rem;
    color: rgba(var(--dark-color), 1);
    padding-left: 14px;
}

.sidebar .link-item:hover span,
.sidebar .link-item.active span {
    color: rgba(var(--primary-color), 1);
}

.sidebar .item-child {
    background-color: rgba(var(--primary-color), 0.12);
    border-radius: 4px;
    display: none;
}

.sidebar .item-child.active {
    display: inline-block;
}

.sidebar .item-child a {
    color: rgba(var(--dark-color), 1);
    padding: 12px 14px 12px 46px;
    font-size: 0.875rem;
}
.sidebar .item-child a:hover,
.sidebar .item-child a.active {
    color: rgba(var(--primary-color), 1);
}
/* END SIDEBAR */

/* TOPBAR */
.topbar {
    height: 76px;
    background-color: rgba(var(--light-color), 1);
    border-bottom: 1px solid rgba(var(--dark-color), 0.12);
}

.topbar .topbar-title {
    font-size: 1.625rem;
    font-family: var(--urbanist-bold);
}

.hamburger {
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    background-color: rgba(var(--primary-color), 0.12);
    border: 1px solid rgba(var(--primary-color), 0.42);
}
/* END TOPBAR */

/* ALERT */
.alert {
    font-size: 0.913rem;
}
/* END ALERT */

/* DASHBOARD */
.dashboard-menu {
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 12px;
}

.dashboard-menu .menu-title {
    font-size: 1rem;
    font-family: var(--urbanist-semibold);
}

.dashboard-menu .menu-value {
    font-size: 1.5rem;
    font-family: var(--urbanist-semibold);
    color: rgba(var(--primary-color), 1);
}

.dashboard-menu .menu-icon {
    width: 46px;
    height: 46px;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 9999px;
}

.dashboard-menu .child-menu {
    margin-top: 18px;
    padding-top: 10px;
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.dashboard-menu .child-title {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
    margin-bottom: 0px;
}

.dashboard-menu .child-value {
    font-size: 1.5rem;
    font-family: var(--urbanist-bold);
    color: rgba(var(--primary-color), 1);
}

.dashboard-menu .child-category {
    margin-top: 24px;
}

.dashboard-menu .card-category {
    border: 1px solid rgba(var(--dark-color), 0.12);
}

.dashboard-menu .card-category .category-title {
    font-size: 0.913rem;
    font-family: var(--urbanist-semibold);
}

.card-chart {
    background-color: rgba(var(--light-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 12px;
}

.card-chart .chart-title {
    font-size: 1.125rem;
    font-family: var(--urbanist-semibold);
}
/* END DASHBOARD */

@media (max-width: 1199.98px) {
    .content-auth .card-auth {
        padding: 32px 72px;
    }
}

@media (max-width: 991.98px) {
    .content-auth .card-auth {
        padding: 32px 122px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        background-color: rgba(var(--light-color), 1);
        height: 100vh;
        z-index: 99999 !important;
        transition: 500ms !important;
    }

    .sidebar.show {
        left: 0;
    }
}

@media (max-width: 767.98px) {
    .content-auth .card-auth {
        padding: 32px 32px;
    }
}
